* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
input,
button {
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  justify-content: space-between;
  height: 48px;
  width: 100%;
  align-items: center;
}

.menu__section {
  display: flex;
  align-items: center;
}

.menu__section.left .menu__icon{
  padding: 12px 16px;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #757575;
  padding: 12px 8px;
}

.menu__link.active {
  color: #4258f4;
  border-bottom: 2px solid #4258f4;
}

.menu__link:not(.active) {
  border-bottom: 2px solid transparent;
}

.menu__section.right {
  margin-right: 4px;
}

.menu__section.right .menu__icon {
  padding: 12px;
}

.menu__profile {
  padding: 4px;
  width: 40px;
  height: 40px;
  position: relative;
}

.menu__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.menu__avatar--frame {
  position: absolute;
  right: 0;
  top: 0;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 80px 30px 0;
  align-items: center;
  flex: 1;
}

.content__logo {
  height: 80px;
}
.content__search-container {
  position: relative;
  margin-top: 18px;
  width: 80%;
  min-width: 320px;
  max-width: 600px;
}
.content__search-label {
  position: absolute;
  top: 10px;
  left: 12px;
}
.content__search {
  width: 100%;
  padding: 10px 20px 10px 50px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
  background: transparent;
  outline: none;
  border-radius: 25px;
  border: 1px solid #DADCE0;
}
.content__search:hover, .content__search:focus {
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.content__buttons {
  margin-top: 30px;
}
.content__buttons a {
  text-decoration: none;
  color: #5F6368;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
}
.content__buttons a:not(:first-child) {
  margin-left: 15px;
}
.content__buttons a:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}
.content__offer {
  margin-top: 24px;
  font-size: 13px;
  padding: 6px 12px;
}
.content__offer a {
  text-decoration: none;
  color: #1967d2;
}
.content__offer a:hover {
  text-decoration: underline;
}

.footer {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  background: #F2F2F2;
}
.footer__section:not(:first-child) {
  border-top: 1px solid #E4E4E4;
}
.footer__location {
  font-size: 15px;
  color: #5F6368;
  padding: 10px 12px;
}
.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 10px;
}
.footer__links a {
  text-decoration: none;
  color: #5F6368;
}
.footer__links a:hover {
  text-decoration: underline;
}
.footer__links a:not(:first-child) {
  margin-left: 27px;
}

@media screen and (min-width: 763px) {
  .content {
    padding-top: 120px;
  }
  .content__logo {
    height: 100px;
  }
  
  .menu__section.left {
    visibility: hidden;
  }
}
@media screen and (max-width: 360px) {
  .content__buttons {
    display: none;
  }
}